h1 {
  font: bold 36px Roboto, sans-serif;
  text-align: center;
  margin: 16px;
}

h2 {
  font: bold 18px Roboto, sans-serif;
  text-align: center;
  margin: 20px;
}

p, ul {
font: 16px Roboto, sans-serif;
}

a:link {
  color: black;
}

a:visited {
  color: gainsboro;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  color: black;
}

  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    min-height: 95vh;
  }

    .inputs, .outputs {
      font: 16px Roboto, sans-serif;
      margin: auto;
    }

    .inputs {
        height: 600px;
        max-width: 360px;
        align-items: center;
    }

      input[type=button] {
        border: none;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font: bold 36px Roboto, sans-serif;
        transition: color 200ms;
      }

      #woord-input {
        border: 1px solid black;
        padding: 15px 30px;
        text-align: center;
        font: bold 36px Roboto, sans-serif;
        margin: auto;
        width: 300px;
        height: 44px;
        overflow: clip;
      }

      #woord-input:focus {
        border: 3px solid black;
        padding: 13px 28px;
        border-radius: 4px;
    }

      .main {
        position: relative;
        display: flex;
        justify-content: center;
        --s: 100px;  /* size  */
        --m: 4px;    /* margin */
        --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
      }
        
        #invalid-guess {
          top: -55px;
        }
      
        .letters {
          font-size: 0; /*disable white space between inline block element */
          padding: 18px 18px
        }
        
          .letters input {
            width: var(--s);
            margin: var(--m);
            height: calc(var(--s)*1.1547); 
            display: inline-block;
            font-size: 30px;
            clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
            background: grey;
            color: white;
            margin-bottom: calc(var(--m) - var(--s)*0.2885); 
          }

          #letter0 {
            background: purple;
          }

          #submit-btn, #shuffle, #backspace {
            background: gainsboro;
          }

          .letters::before {
            content: "";
            width: calc(var(--s)/2 + var(--m));
            float: left;
            height: 100%;
            shape-outside: repeating-linear-gradient(#000 0 10%, #0000 0 50%, #000 0 10%, #0000 0 50%);
            /*shape-outside: radial-gradient(#0000 95%, #000 5%);*/
          }
  
    .outputs {
        width: 480px;
    }

      .buttons {
        font-size: 16px;
        position: relative;
      }

      #guesses, #antwoorden {
        column-count: 3;
        orphans: 8;
      }

      #guesses {
        min-height: 160px;
      }

      #antwoorden {
        margin-bottom: 50px;
      }

      #pmdiv {
        display: none;
      }
      
      footer {
        position: fixed;
        bottom: 0;
        margin-bottom: 20px;
      }
      
        .footer-span {
          margin-left: 40px;
          color: gainsboro;
        }

    #invalid-guess, #result-shared {
      opacity: 0;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 8px;
      position: absolute;
      z-index: 1;
      transition: opacity 600ms;
    }

.modal {
  display: none;
  align-items: flex-start;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

  .modal-content {
    color: black;
    background-color: #fefefe;
    margin: 20px auto; /* 20px from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

    /* The Close Button */
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }

/*
#newday {
  align-items: center;
}

  #newday-content {
    text-align: center;
    margin: auto;
    width: 20%;
  }
*/

.pangram {
  font-weight: bold;
}

.CENTRAL-LETTER {
  color: purple;
}

.woordheks-didnotfind {
  color: #AAA;
  font-style: italic;
}

.user-didnotfind {
  color: purple;
  font-style: italic;
}

@media (max-width: 960px) {
  .container {
    flex-direction: column;
  }
  .outputs{
      max-width: 360px;
  }
  footer {
    position: static;
  }
}