:root {
  --userscore: 0%;
  --hekssliderleft: 90%;
  --usersliderleft: calc(0.90 * var(--userscore));
}

h1 {
  font: bold 36px Roboto, sans-serif;
  text-align: center;
  margin: 16px;
}

h2 {
  font: bold 18px Roboto, sans-serif;
  text-align: center;
  margin: 20px;
}

p, ul {
  font: 16px Roboto, sans-serif;
}

#score-comment {
  font-weight: bold;
  color: black;
  margin-bottom: 0px;
}

a {
  margin-right: 40px;
}

a:link {
  color: black;
}

a:visited {
  color: gainsboro;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  color: black;
}

  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    min-height: 95vh;
  }

    .inputs, .outputs {
      font: 16px Roboto, sans-serif;
      margin: auto;
    }

    .inputs {
      height: 525px;
      max-width: 360px;
      align-items: center;
    }

      input[type=button] {
        border: none;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font: bold 36px Roboto, sans-serif;
        transition: color 200ms;
      }

      #woord-input {
        border: 2px solid grey;
        border-radius: 10px;
        padding: 10px 20px;
        text-align: center;
        font: bold 30px Roboto, sans-serif;
        margin: auto;
        width: 270px;
        height: 35px;
        overflow: clip;
      }

      #woord-input:focus {
        border: 2px solid black;
      }

      .main {
        position: relative;
        display: flex;
        justify-content: center;
        --s: 90px;  /* size  */
        --m: 4px;    /* margin */
        --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
      }
      
        .letters {
          font-size: 0; /*disable white space between inline block element */
          padding: 18px 18px
        }

          .letter-row-odd {
            margin-left: calc(var(--s)/2 + var(--m));
          }
        
            .letters input {
              width: var(--s);
              margin: var(--m);
              height: calc(var(--s)*1.1547); 
              display: inline-block;
              font-size: 30px;
              clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
              background-color: grey;
              color: white;
              margin-bottom: calc(var(--m) - var(--s)*0.2885); 
            }

            #letter0 {
              background: purple;
            }

            #submit-btn, #shuffle, #backspace {
              background: gainsboro;
            }

          /*
          .letters::before {
            content: "";
            width: calc(var(--s)/2 + var(--m));
            float: left;
            height: 100%;
            shape-outside: repeating-linear-gradient(#000 0 5%, #0000 0 50%, #000 0 5%, #0000 0 40%);
          }
          */
  
      .inputbox {
        position: relative;
        display: flex;
        justify-content: center;
      }   
        #invalid-guess {
          bottom: 20px;
          margin: 0px auto;
        }

    .outputs {
      width: 480px;
    }

      .slider-container {
        height: 5px;
        width: 100%;
        margin: 50px 0px;
      }

        .slider-range {
          height: 5px;
          width: 100%;
          background: gainsboro;
          margin: 20px 0px;
          position: relative;
        }

          .slider-progress {
            height: 5px;
            width: var(--usersliderleft);
            background: grey;
            position: relative;
            transition: width 1000ms;
          }

          .slider-label {
            z-index: -1;
            opacity: 75%;
            color: gainsboro;
            width: 100%;
            margin: 0px auto;
            position: absolute;
            text-align: center;
          }

            #slider-words-label {
              bottom: 10px;
            }

            #slider-score-label {
              bottom: -25px;
            }

          .slider-circle {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            position: absolute;
            bottom: -7.5px;
            transition: left 1000ms;
          }

          #user-circle {
            z-index: 1;
            background: grey;
            color: grey;
            left: calc(var(--usersliderleft) - 7.5px);
          }

          #woordheks-circle {
            background: purple;
            color: purple;
            left: calc(var(--hekssliderleft) - 7.5px);
          }

            .slider-circle-text {
              position: absolute;
              text-align: center;
              margin: auto;
              width: 20px;
            }

            .slider-circle-words {
              bottom: 25px;
            }

            .slider-circle-score {
              bottom: -25px;
            }
              
              .slider-circle-text-span {
                margin: auto -100%;   /* This makes sure that 3-digits numbers are centred */
                transition: left 1000ms;
              }

      .buttons {
        font-size: 16px;
        position: relative;
      }

      #guesses, #antwoorden {
        column-count: 3;
        orphans: 8;
        font-size: 14px;
      }

      #guesses {
        min-height: 140px;
      }

      #antwoorden {
        margin-bottom: 50px;
      }

      #pmdiv {
        display: none;
      }
      
      footer {
        position: fixed;
        bottom: 0;
        margin-bottom: 20px;
      }
      
        .footer-span {
          color: gainsboro;
        }

    #invalid-guess, #result-shared {
      opacity: 0;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 8px;
      position: absolute;
      z-index: 2;
      transition: opacity 600ms;
    }

.modal {
  display: none;
  align-items: flex-start;
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

  .modal-content {
    color: black;
    background-color: #fefefe;
    margin: 20px auto; /* 20px from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }

  #about-content {
    width: 80%
  }

#stats {
  align-items: center;
}

  #stats-content {
    width: 50%;
  }

    .stats-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }

      .stats-block {
        text-align: center;
        margin: 10px auto;
        width: 120px;
      }

        .stats-num p {
          font-size: 48px;
          font-weight: bold;
          margin: 10px auto;
        }

/*
#newday {
  align-items: center;
}

  #newday-content {
    text-align: center;
    margin: auto;
    width: 20%;
  }
*/

    .grid-container {
      display: flex;
    }

      #puzzle-grid {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: auto;
      }

        .puzzle-block {
          display: flex; 
          justify-content: center; 
          align-items: center; 
          width: 100px;
          height: 80px;
          background-color: rgb(240, 240, 240);
          border: 2px solid grey;
          border-radius: 10px;
          font-size: 36px;
          margin: 10px;
          cursor: pointer;
        }

        .puzzle-block:hover {
          background-color: gainsboro;
        }

.number {
  font-weight: bold;
}

.error {
  font-style: italic;
}

.pangram {
  font-weight: bold;
}

.central-letter {
  color: purple;
}

.woordheks-didnotfind {
  color: #AAA;
  font-style: italic;
}

.user-didnotfind {
  color: purple;
  font-style: italic;
}

@media (max-width: 960px) {
  .container {
    flex-direction: column;
  }
    .outputs{
      max-width: 360px;
    }
      
      #guesses, #antwoorden {
        font-size: 16px;
      }

      footer {
        position: static;
      }
}