@media (max-width: 900px) {
  :root {
    --letter-hex-size-a: calc(4 * 80vw / 13);
    --letter-hex-size-b: calc(0.251935 * 40vh);
    --letter-hex-size: min(var(--letter-hex-size-a), var(--letter-hex-size-b));
    --letter-hex-height: calc(1.1547 * var(--letter-hex-size));
    --letter-hex-margin: calc(var(--letter-hex-size) / 24);
    --letter-hex-font-size: calc(0.35 * var(--letter-hex-height));
    --letter-hex-f: calc(1.732 * var(--letter-hex-size) + 4 * var(--letter-hex-margin)  - 1px);
  }

  html {
    overflow: hidden;
  }

  body {
    height: 100%;
    max-width: 99%;
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  
  h1 {
    font-size: 4.5vh;
    margin: 2vh;
  }

  p, ul, .slider-num-score, .modal-button {
    font-size: min(16px, 3vh, 5vw);
  }

  .slider-num-words {
    font-size: min(14px, 2.5vh, 4vw);
  }
  
.header-cont {
  width: auto;
  max-width: 100vw;
}
      .header-bar {
        display: flex;
        width: 95vw;
        justify-content: space-between;
      }

      .title-block {
        width: 80%;
        --font-size: min(36px, 6vh, 10vw);
        margin: calc(var(--font-size) / 5);
      }

        .title {
          font: bold 36px Roboto, sans-serif;
          font-size: var(--font-size);
          text-align: left;
          margin-right: 0;
          height: 50px;
          line-height: 50px;
        }

        .subtitle {
          font-size: calc(0.5 * var(--font-size));
        }

        .header-button {
          --width: min(50px, 8vh, 14vw);
          width: var(--width);
          height: calc(var(--width) * 1.1547);
          line-height: calc(var(--width) * 1.1547);
          top: -5px;
          font-size: calc(var(--width) / 2.5);
          margin-right: auto;
        }

      .slider-container {
        width: 90%;
        max-width: calc(90vw + 20px);
      }

      #level-up-popup {
        bottom: auto;
        max-width: fit-content;
        left: calc(var(--usersliderleft) + 23px);
      }

      .inputs {
        height: 50vh;
        margin-bottom: 20px;
        max-width: calc(90vw + 20px);
      }
  
        input[type=button] {
          font-size: 4.5vh;
        }
  
        #woord-input {
          padding: 1vh 2.5vh;
          font-size: 4vh;
          height: 4.5vh;
          width: calc(3 * var(--letter-hex-size) + 6 * var(--letter-hex-margin));
          max-width: min(360px, 90vw);
        }
          
              .letters input {
                font-size: var(--letter-hex-font-size);
              }
    
        .inputbox {
          position: relative;
          display: flex;
          justify-content: center;
        }   
          #invalid-guess {
            bottom: 1.5vh;
          }
  

    .outputs {
      position: fixed;
      top: calc(50vh + 80px + 20px);
    }

    #footer-button-bar {
      position: fixed;
      left: 0;
      bottom: 0;
      display: flex;
      width: 100vw;
    }

    .footer-button {
      width: 33%;
    }
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    min-height: 90%;
  }

    .outputs{
      max-width: 360px;
    }

    #output-non-slider {
      display: none;
    }
      
      .guesslist {
        font-size: 13px;
        column-count: 3;
      }

      footer {
        display: none;
      }

      #footer-button-bar {
        display: flex;
      }

  #words {
    display: none;
  }
}